.login-container {
   width: 100%;
   height: 100vh;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f1f7ff;
}

.login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 500px;
   height: 600px;
   border-radius: 8px;
   background-color: white;
}

.logo {
   width: 90px;
   height: 90px;
   object-fit: contain;
}

.heading {
   height: 80px;
   font-size: 32px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.25;
   letter-spacing: normal;
   color: #171f46;
}

.label {
   align-self: start;
   margin-left: 92px;
   margin-top: 12px;
   margin-bottom: 10px;
   height: 16px;
   font-size: 12px;
   font-weight: 600;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.12px;
   color: #7e858e;
}

.user-input {
   width: 320px;
   height: 40px;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.71;
   letter-spacing: normal;
   margin-left: 3px;
   padding-left: 10px;
   margin-bottom: 12px;
   border-radius: 2px;
   border: solid 1px #7e858e;
   background-color: white;
}

.user-input:focus {
   outline: none;
}

.login-btn {
   width: 320px;
   height: 40px;
   border-radius: 4px;
   margin-top: 20px;
   margin-bottom: 20px;
   color: white;
   background-color: #0b69ff;
}

.login-btn:focus {
   outline: none;
}
