.login-container {
   width: 100%;
   height: 100vh;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f1f7ff;
}

.login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 500px;
   height: 600px;
   border-radius: 8px;
   background-color: white;
}

.logo {
}

.heading {
}

.label {
   align-self: start;
   margin-left: 92px;
   margin-top: 12px;
   margin-bottom: 10px;
   height: 16px;
   font-size: 12px;
   font-weight: 600;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: 0.12px;
   color: #7e858e;
}

.user-input {
}

.user-input:focus {
   outline: none;
}

.login-btn {
}

.login-btn:focus {
   outline: none;
}
